<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

	<import resource="beans2.xml"/>
	
	<bean name="sayHello" class="spring.ls.test.SayHello" scope="singleton" >
	</bean>
	
	<!-- <user:teacher id="teacher" name="教师" email="123456@qq.com" /> -->
	
	<bean name="zhangsan" class="spring.ls.test.User">
		<constructor-arg index="0" value="张三" />
		<constructor-arg index="1" value="22" />
		<constructor-arg index="2" value="12345@qq.com" />
	</bean>
	
</beans>